.footer{
    background: #151515;
    padding: 2% 5%;
    color: #ffffff;

}

.footer-top{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.footer-top ul{
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
}
.footer-top ul li a{
    color: white;
}

.footer-bottom{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 3rem;
}

.footer-left{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.footer-left img{
    width: 35px;
    border-radius: 50%;
    transition: 0.4s;
}

.footer-left img:last-child{
    border-radius: 5px;
}

.footer-left img:hover{
    transform: scale(1.2);
}

.footer-btn{
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 50%;
}
.footer-center{
    display: flex;
    align-items: center;
    margin-left: -100px;
}
.footer-center input{
    height: 50px;
    width: 200px;
    position: relative;
}




.footer-center { 
    position: relative; 
    display: inline-block; 
} 

.footer-center input { 
    background: url(../../icons/message.svg) no-repeat right;
    background-size: 30px;
    height: 30px;
    background-color: #151515;
    border: 1px solid #C73659;
    border-radius: 20px;
    color: #ffffff;
    padding-left: 2rem;

} 

/* .footer-center button { 
    width: 35px;
    position: absolute;
    top: 0; 
    right: 0; 
    bottom: 1rem;
    border: none; 
    background-color: transparent; 
    cursor: pointer;
    z-index: 1;

}  */

@media screen and (max-width: 1065px){
    .footer-top{
        flex-direction: column;
    }
    .footer-top{
        font-size: 0.9rem;
    }

    .footer-top ul{
        margin-top: 1.5rem;
    }
    .footer-bottom{
        flex-direction: column;
        gap: 1.5rem;
    }   
    .footer-center{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

}

@media screen and (max-width: 600px){
    .footer-top ul{
        gap: 1.5rem;
    }

    .footer-left img{
        width: 25px;
    }
}